{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.attributes.edit.head.title'|trans }}{% endblock %}

{% block body %}

    {% include 'admin/attribute/_delete_form.html.twig' %}

    <h1>{{ 'admin.attributes.edit.title'|trans }}</h1>

    {% include 'admin/attribute/_form.html.twig' %}

{% endblock %}