{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.attributes.edit.head.title'|trans }}{% endblock %}

{% block body %}

    {% include 'admin/_includes/delete_form.html.twig' with {
        'action_url': url('admin_attributes_delete', {id: attribute.id}),
        'button_label': 'admin.attributes.button.delete'|trans
    } %}

    <h1>{{ 'admin.attributes.edit.title'|trans }}</h1>

    {% include 'admin/attribute/_form.html.twig' %}

{% endblock %}