<form style="float: right; margin-top: 15px;" action="{{ url('admin_categories_delete', {id: category.id}) }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-danger">Delete Category</button>
</form>