{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.categories.edit.head.title'|trans }}{% endblock %}

{% block body %}

    {% include 'admin/category/_delete_form.html.twig' %}

    <h1>{{ 'admin.categories.edit.title'|trans }}</h1>

    {% include 'admin/category/_form.html.twig' %}

{% endblock %}