{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.categories.edit.head.title'|trans }}{% endblock %}

{% block body %}

    {% include 'admin/_includes/delete_form.html.twig' with {
        'action_url': url('admin_categories_delete', {id: category.id}),
        'button_label': 'admin.categories.button.delete'|trans
    } %}

    <h1>{{ 'admin.categories.edit.title'|trans }}</h1>

    {% include 'admin/category/_form.html.twig' %}

{% endblock %}