{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.dashboard.index.head.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.dashboard.index.title'|trans }}</h1>
    <hr>
{% endblock %}