{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.products.create.head.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'admin.products.create.title'|trans }}</h1>

    {% include 'admin/product/_form.html.twig' %}

{% endblock %}