{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.products.edit.head.title'|trans }}{% endblock %}

{% block body %}

    {% include 'admin/_includes/delete_form.html.twig' with {
        'action_url': url('admin_products_delete', {id: product.id}),
        'button_label': 'admin.products.button.delete'|trans
    } %}

    <h1>{{ 'admin.products.edit.title'|trans }}</h1>
    <hr>

    {% include 'admin/product/_form.html.twig' %}

{% endblock %}